.main{
    padding: 10px;

}
.body{
    align-items: center;
}
section{
    align-items: center;
}
h2{
    position: relative;
    left: 45%;
}
div{
    position: relative;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.chicken p{
    width: 110px;
    height: 25px;
    background: rgb(236, 139, 104);
    position: absolute;
    top: -8%;
    right: 0;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}
.beef p{
    width: 110px;
    height: 25px;
    background: rgb(243, 25, 5);
    position: absolute;
    top: -8%;
    right: 0;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    color: white;
}
.sushi p{
    width: 110px;
    height: 25px;
    background: rgb(232, 241, 99);
    position: absolute;
    top: -8%;
    right: 0;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}


@media (max-width:765px ){
.box{
    background: grey;
    border: 1px solid black;
    width: 100%;
    margin-bottom: 30px;
    height: 180px;
}
}
@media (max-width:991px  ) and ( min-width:764px){
    .chicken{
        background: grey;
        border: 1px solid black;
        width: 45%;
        margin-bottom: 30px;
        height: 160px;
        
    }
    .beef{
        background: grey;
        border: 1px solid black;
        width: 45%;
        margin-bottom: 30px;
        height: 160px;
        position: absolute;
         left:50% ;
         top: 3%;

    }
    .sushi{
        background: grey;
        border: 1px solid black;
        width: 96%;
        margin-bottom: 30px;
        height: 120px;
    }

    }
    @media (min-width:992px ){
        .main{
            display: flex;
        }
        .box{
            
            background: grey;
            border: 1px solid black;
            width: 33%;
            margin: 0 10px ;
            height: 160px;
        }
        }
        